.navbar-brand {
    color: burlywood !important;
}

.navbar-brand:hover {
    color: bisque !important;
}

.btn {
    background-color: burlywood;
}

.btn:hover {
    background-color: bisque;
}

.column {
    width: 33%;
    float: left;
    text-align: center;
    flex: 1;
}

.column2 {
    width: 33%;
    float: left;
    text-align: center;
    flex: 1;
    padding-top: 0px;
}

.column3 {
    width: 100%;
    float: left;
    text-align: center;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: burlywood;
}

.col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.team {
    width: 100%;
}

.player {
    width: 72.5%;
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row2 {
    padding: 20px;
    font-weight: bold;
    background-color: burlywood;
}

body {
    background-color: bisque !important;
    padding-top: 122px;
}

.content {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}


.content > .row {
  position: relative;
  left: 50%;
  padding: 0px;
}

.content > .row2 {
    position: relative;
    left: 50%;
    padding: 20px;
    font-weight: bold;
    background-color: burlywood;
}

h2 {
    font-size: 3vw !important;
}


h3 {
    font-size: 3vw !important;
}

hr {
        border-top: 1px solid burlywood !important;
}

@media screen and (min-width: 1001px) {
  h2 {
    font-size: 1vw !important;
  }


  h3 {
    font-size: 1vw !important;
  }

  body {
    padding-top: 50px;
  }

  .col-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }


  .team {
    width: 58%;
  }

  .player {
    width: 80%;
  }

  .content {
    max-width: 1500px;
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
  }

}