.navbar-brand {
    color: #EDEEF0 !important;
    display: none !important;
}

.navbar-brand:hover {
    color: #DCDDDF !important;
}

.btn {
    background-color: #EDEEF0;
}

.btn:hover {
    background-color: #DCDDDF;
}

.column {
    width: 33%;
    float: left;
    text-align: center;
    flex: 1;
}

.column2 {
    width: 33%;
    float: left;
    text-align: center;
    flex: 1;
    padding-top: 0px;
}

.column3 {
    width: 100%;
    float: left;
    text-align: center;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EDEEF0;
}

.container-fluid{
  
}

.col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.team {
    width: 100%;
}

.player {
    width: 72.5%;
}

.row {
  background-color: #EDEEF0;
}

.row2 {
    padding: 20px;
    font-weight: bold;
    background-color: #DCDDDF;
}

body {
    background-color: #EDEEF0 !important;
    padding-top: 122px;
}

.content {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}


.content > .row {
  position: relative;
  left: 50%;
  padding: 0px;
}

.content > .row2 {
    position: relative;
    left: 50%;
    padding: 20px;
    font-weight: bold;
    background-color: #DCDDDF;
}

h2 {
    font-size: 3vw !important;
}


h3 {
    font-size: 3vw !important;
}

hr {
        border-top: 1px solid #DCDDDF !important;
}

.form-group {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar {
  //overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #EDEEF0;
}

.navbar #myLinks {
  //display: none;
}

a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.navbar #myLinks {
  //display: none;
}

a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 1001px) {
  h2 {
    font-size: 1vw !important;
  }


  h3 {
    font-size: 1vw !important;
  }

  body {
    padding-top: 50px;
  }

  .col-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }


  .team {
    width: 58%;
  }

  .player {
    width: 80%;
  }

  .content {
    max-width: 1500px;
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
  }

  .navbar-brand {
    display: block !important;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content a:hover, .dropdown-content a:active {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}